<%- include('partials/header.ejs') %>


<%- include('layout.ejs') %>

<div class="container">
    <div class="col-6 mx-auto mt-5 complete">
        <div class="container text-center py-3">
            <p class="check pb-0"><i class="far fa-check-circle p-0"></i></p>
            <h5 class="text-uppercase you">You're Premium now</h5>
            <p>Your purchase is complete. Enjoy with Soulcast Premium</p>
        </div>
    </div>
</div>


<%- include('partials/footer.ejs') %>