<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
<link rel="stylesheet" href="/footer.css">
<link rel="stylesheet" href="/footer2.css">

<div class="content mt-5 pt-5">
</div>

<div class="ticker-tape-section mb-5 pb-5">
	<div class="ticker-tape-section__container">
		<div class="ticker-tape__text-block">
			<span class="ticker-tape--text">CONTACT US •</span>
			<span class="ticker-tape--text"> CONTACT US •</span>
			<span class="ticker-tape--text"> CONTACT US •</span>
			<span class="ticker-tape--text"> CONTACT US •</span>

		</div>
		<div class="ticker-tape__text-block">
			<span class="ticker-tape--text"> CONTACT US •</span>
			<span class="ticker-tape--text"> CONTACT US •</span>
			<span class="ticker-tape--text"> CONTACT US •</span>
			<span class="ticker-tape--text"> CONTACT US •</span>

		</div>
	</div>
</div>

    <footer id="myFooter" >
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-3 col-lg-3 col-xxl-3 col text-center">
                    <a href="/"><img class="img-fluid col-4 imgfoot" src="https://i.pinimg.com/originals/b7/c8/f0/b7c8f019bca3c9eb4e4775f9609f1372.png"></a>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 col-xxl-2 col">
                    <h5 class="text-uppercase">Get started</h5>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sign up</a></li>
                        <li><a href="#">Downloads</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col col-md-2 col-lg-2 col-xxl-2">
                    <h5 class="text-uppercase">About us</h5>
                    <ul>
                        <li><a href="#">Company Information</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Reviews</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-2 col-lg-2 col col-xxl-2">
                    <h5 class="text-uppercase">Support</h5>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Help desk</a></li>
                        <li><a href="#">Forums</a></li>
                    </ul>
                </div>
                <div class="col-sm-12 col-md-3 col-lg-3 col col-xxl-3">
                    <div class="social-networks">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="google"><i class="fa fa-instagram"></i></a>
                    </div>
                    <button type="button" class="btn btn-default">CONTACT US</button>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <p>© 2021 Soulcast music Downloader by: Putita Techapat </p>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>