<%- include('partials/header.ejs') %>

<%- include('layout.ejs') %>

<div class="noise"></div>
<div class="container">
    <div class="text-center">
        <img class="img-fluid" src="/images/Welc.png" width="1100px">
    </div>

    <div class="text-center" class="col-md-4 col-lg-2">
        <a href="/signup/new"><button type="button" class="get">GET SOULCAST FREE</button></a>
    </div>
</div>



<div class="pre" class="col-md-4 col-lg-3">
    <img class="img-fluid" src="https://i.pinimg.com/originals/29/e6/cd/29e6cd41898c3f8a49d13115e82bd9a9.png" width="400px">
    <div class="text pt-4">
        <h1>PREMIUM</h1>
        <p><strong>45 bath / month after. Cancel anytime.</strong></p>
        <a href="/premium"><button type="button" class="btn-premium col-12">GET PREMIUM NOW</button></a>
    </div>
    <div class="vertical">
        <div class="text-center" class="privileges" style="margin-top: 40px;">
            <h1 id="pp" class="text-uppercase"><strong>Premium Privileges</strong></h1>
        </div>
        <div class="privileges">
            <div class="icon" class="text-center">
                <div class="text-center">
                    <img src="https://i.pinimg.com/originals/6f/56/b9/6f56b98bcb158c8ea795166618b71737.png">
                    <p class="d pt-1">Download<br>music</p>
                </div>
                <div class="text-center">
                    <img src="https://i.pinimg.com/originals/1c/94/b0/1c94b00fcc764dd27167d8dd19767751.png">
                    <p class="d pt-1">Unlimited<br>skips</p>
                </div>
                <div class="text-center">
                    <img src="https://i.pinimg.com/originals/e5/a3/7e/e5a37e57fe30da6696610bbade959757.png">
                    <p class="d pt-1">Share your<br>playlist</p>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('footer.ejs') %>

<!-- wave -->
<img class="img-fluid" id="wave" src="https://i.pinimg.com/originals/75/5a/d6/755ad68ae845e650f718ff85b478e233.png" width="2200px">


<%- include('partials/footer.ejs') %>