<%- include('partials/header.ejs') %>

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
<%- include('layout.ejs') %>
<div class="container">
    <div class="container col-10 d-flex mt-2">
        <div class="box-premium col-7 py-5 ps-5 pe-5">
            <div class="pt-5 mt-3">
                <h5 class="title text-uppercase">Premium Plan</h5>
                <p class="premium-45">Stream unlimited songs and download songs on your phone, tablet and laptop without paying more.
                <strong>45 bath / month after. Cancel anytime.</strong>
                <ul class="list-group">
                    <li class="list-group-item list-pre"><i class="far fa-download pe-2"></i> Download music</li>
                    <li class="list-group-item list-pre"><i class="fas fa-forward pe-2"></i> Unlimited skips</li>
                    <li class="list-group-item list-pre"><i class="far fa-music pe-2"></i> Share Song</li>
                </ul>
                </p>
                <a class="nav-link active" aria-current="page" href="/soulcast/premium/pay"><button type="button" class="btn-premium2 col-5 py-2 mt-3 shadow rounded-pill">JOIN WITH US</button></a>            
            </div>
        </div>
        <div class="col-5">
            <img src="/images/premium.jpg" width="100%" class="img-flulid cd" />
        </div>
    </div>
</div>


<%- include('partials/footer.ejs') %>