body {
    background: rgb(17,27,55);
    background: linear-gradient(90deg, #111b37, #877187, #ec643d, #ffa453);
    margin: 0;
    overflow-x: hidden;
}
@media screen and (max-width: 376px){
    #a button {
        font-size: 12px;
    }
}

.noise {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('https://i.pinimg.com/originals/ae/c7/29/aec7298ac4f2b311ef7bc2d499aadd0b.png') repeat 0 0;
    background-repeat: repeat;
    animation: noise-animation .2s infinite;
    opacity: .9;
    visibility: visible;
}

@keyframes noise-animation {
    0% { transform: translate(0,0) }
    10% { transform: translate(-5%,-5%) }
    20% { transform: translate(-10%,5%) }
    30% { transform: translate(5%,-10%) }
    40% { transform: translate(-5%,15%) }
    50% { transform: translate(-10%,5%) }
    60% { transform: translate(15%,0) }
    70% { transform: translate(0,10%) }
    80% { transform: translate(-15%,0) }
    90% { transform: translate(10%,5%) }
    100% { transform: translate(5%,0) }
}

.card {
    display: block;
    margin: auto;
    border-radius: 1.5rem;
    position:relative;
    z-index:1;
}
.card-body {
    display: block;
    margin: auto;
    /* width: 30rem; */
    /* margin-top: 0.6rem;
    margin-bottom: 0.6rem; */
}
.form-label {
    font-family: 'Barlow', sans-serif;
    font-size: 13px;
}
.btn-signup {
    border: 0;
    border-radius: 60px;
    height: 40px;
    /* width: 250px; */
    background-color: #ee5c25;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #fae62d;
}
.btn-create {
    border: 3px solid #ee5c25;
    border-radius: 60px;
    height: 40px;
    /* width: 250px; */
    background-color: #ee5a2500;
    font-family: 'Barlow', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #ee5c25;
}
@font-face {
    font-family: "Draft";
    src: url("/font/DraftE-Bold.ttf") format("TrueType");
}
.card-title {
    font-family: 'Draft';
    font-size: 35px;
    font-weight: 600;
    margin-bottom: 12px;
}
option,select,input,textarea {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 14px;
}
#a {
    margin-top: 80px;
}
.form-control,.form-select {
    border-color: #2e3f5c;
    border-radius: 10px;
    font-size: 14px;
}

.formFile {
    background-color: #2e3f5c;
}
#card2 {
    margin-top: 4.95%;
}
.input-lyric {
    height: 280px;
}
input[type=file]::file-selector-button {
    background-color: #2e3f5c;
    color: #fff7db;
    border-radius: 8px;
    font-weight: 500;
    font-size: 10px;
}
.abab {
    display: none;
}
.alert {
    /* position: relative; */
    z-index:1;

}
.profile-pic img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    box-shadow: 0px 0px 5px 0px #c1c1c1;
    cursor: pointer;
} 
.audio {
    width: 220px;
    height: 30px;
}